* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: rgb(5, 58, 85);
    --main-page-color: white;
    --font-family: Arial, Helvetica, sans-serif;
    --navigation-color: white;
    --links-color: black;
    --witness-class: rgba(3, 31, 54, 0.653);

}

main {
    max-width: 100vw;
    margin: auto;
    background-color: var(--main-page-color);
}

body {
    background-color: var(--body-color);
    font-family: var(--font-family);
}

header {
    position: sticky;
    top:0;
    border-top: 4px solid rgba(3, 65, 157, 0.46);
    border-bottom: 8px solid rgba(0, 0, 0, 0.376);
}

.introduction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--main-page-color);
}


.introduction img {
    width: 35%;
    height: auto;
    margin:10px 0px 3px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--navigation-color);
    padding: 30px;
}

nav a, .commercial a, .residential a, .institution a, .history a {
    text-decoration: none;
    color: var(--links-color);
    font-size: 95%;
}

.article img {
    display: block;
    margin: 1px auto;
    width: 100%;
    height: 50%;
    margin-bottom: 0.3%;
  
}

.witness{
    background-color: var(--witness-class);
    padding: 20%;
    color: var(--main-page-color);
    margin: 0 0 10vh;
}

.selections {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10px;
}


.commercial img, .residential img, .institution img {
    width: 390px;
    height: 270px;
    margin: 5% 0 15%;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.545);
}

.commercial h3, .residential h3, .institution h3, .history h3{
    font-size: medium;
    text-align: center;

}

