* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: rgb(5, 58, 85);
    --main-page-color: white;
    --font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --navigation-color: white;
    --links-color: black;
    --witness-class: rgba(182, 210, 243, 0.324);

}

main {
    max-width: 100%;
    margin: auto;
    background-color: var(--main-page-color);
}

body {
    font-family: var(--font-family);
}

header {
    position: sticky;
    top:0;
    border-top: 4px solid rgb(102, 136, 188);
    border-bottom: 5px solid rgba(0, 0, 0, 0.176);
}

.introduction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--main-page-color);
}


.introduction img {
    width: 35%;
    height: auto;
    margin:5px 0px 3px 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--navigation-color);
}

nav a, .commercial a, .residential a, .institution a, .history a, .others a, .founder a{
    text-decoration: none;
    color: var(--links-color);
    font-size: 90%;
    padding: 4%;
}

.article img {
    display: block;
    margin: 1.5px auto 0;
    width: 100%;
    height: 100%;
}

.founder {
    margin: 5% 2% 5%;
    background-color: rgba(225, 223, 220, 0.059);
    padding: 3%;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.137);
}

.founder button{
    padding: 1.5% 4%;
    background-color: rgba(2, 57, 96, 0.97);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    display:block;
    margin: 3% 0; 
}

.founder h2{
    margin: 2% 0 3%;
}

.founder a{
    color: white;
    font-size: medium;
    padding: 2% 4%;
    text-wrap: nowrap;
    text-align: center;
    box-shadow: 0 0 10px rgba(2, 57, 96, 0.97);
}

.founder img{
    width: 20%;
    height: auto;
    border-radius: 80%;
    box-shadow: 0 0 5px;
    margin-bottom: 3%;
}

.founder p {
    line-height: 160%;
}

.selections {
    display:flex;
    flex-wrap: wrap;
    margin: 4% 2% 3%;
    border-top: 5px solid rgba(0, 0, 0, 0.057);
    align-items: center;
    justify-content: space-around;
}

.commercial img, .residential img, .institution img, .others img {
    width: 100%;
    height: 260px;
    margin: 5% 0 0%;
    border-radius: 4px;
    display: block;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.479);
}

.commercial h3, .residential h3, .institution h3, .others h3{
    font-size: medium;
    text-align: center;
}

.witnesses {
    background-color: var(--witness-class);
    margin: 1% 2% 2%;
    padding: 5% 3% 5%;
}
 .witnesses h2{
    margin-bottom: 3%;
 }

.witness-1, .witness-2 {
    margin: 3% 0 6%;
}

.address {
    background-color: rgb(49, 48, 48);
    margin: 1% auto 0;
    color: white;
    align-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.physical-address, .email {
    font-size: 90%;
    margin: 2%;
    display: inline;
}

.social-media img{
    width: 15%;
    margin: 10% 0 10% 20%;
}

footer p{
    text-align: center;
    background-color: rgb(49, 48, 48);
    color: white;
    font-size: 90%;
    padding-bottom: 0.5%;
    border-top: 0.5px solid rgba(255, 255, 255, 0.461);
}




